body{
	background: #F4F6F5;
	color: #555;
	font-family: Calibri
}

div#design{
	width: 40px;
    height: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    right:80px;
    top:40px;
}

div#a{
    background: #FF6D70;
    width:100%;
    height: 6px;
    border-radius: 10px;
}
div#b{
    background: yellow ;
    width: 75%;
    height: 6px;
    border-radius: 10px;
}
div#c{
    background: lime;
    width: 40%;
    height: 6px;
    border-radius: 10px;
}

div#Logo{
	background: #E4E4E4;
    top:30px;
    left:40px;
}

img#logo{
	width:200px;
    height:180px;
    background-position: center;
    background-color: #FFFFFF;
    position: absolute;
    top:50px;
    left:200px;
}

div#Title{
	font-family: Calibri;
	font-size: 100px;
	font-weight: 550;
	filter:opacity(10%);
	position: absolute;
	top: 100px;
	left: 440px;
}

div#sub-title{
	font-family:Calibri;
	color: black;
	position: absolute;
	font-size: 40px;
	font-weight: 500;
	top:280px;
    left:210px;
}

div#design1{
	width:60px;
    height: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    left:205px;
    top:380px;
}

div#a1{
	background: #FE6D70;
    width:80%;
    height: 6px;
    border-radius: 10px;
}

div#b1{
	background: yellow;
    width: 30%;
    height: 6px;
    border-radius: 10px;
}

div#c1{
	background: lime;
    width: 30%;
    height: 6px;
    border-radius: 10px;
}

div#def{
	font-family: Calibri;
	color: grey;
	position: absolute;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.5;
	top:425px;
	left: 210px;
}

div#img{
	position: absolute;
	top:240px;
	left:750px;
}

img#img{
	width: 550px;
	height: 360px;
}

div#email{
	position: relative;
	top: 475px;
	left:200px;
}

input[type=email] {
  width: 20%;
  padding: 16px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  right: 10px;
}

input[type=submit] {
  width: 10%;
  background-color: #FE6D70;	
  color: white;
  padding: 16px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
	background-color: green;
}

div#head{
	font-family: Calibri:;
	font-size: 25px;
	color: black;
	top:650px;
	left:220px;
	font-weight: 500;
	position: absolute;
}
	
div#res{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-family: Calibri;
	line-height: 1.8;
	position: absolute;
	top:700px;
	left:200px;
	color: grey;
}

div#box{
	position: absolute;
    background: #fff;
    border-radius: 6px;
    width:32%;
    height:130px;
    margin-left: 900px;
    margin-top: 600px;
    box-shadow: 
}

div#skype{
	top:520px;
	left:750px;
	border-bottom: 2px solid #F4F6F5;
}

div#text{
	font-size: 1.5rem;
	position: absolute;
	align-content: center;
	margin-top: -45px;
	margin-left: 90px; 
	font-family: Calibri;
	color: grey;
}	

img#icon{
	margin-top:15px;
	margin-left: 30px;
	position: relative;
	width:40px;
	height:40px;
	background-size: contain;
}

div#mail{
	top:600px;
	left:750px;
}

